nav h1{
    text-align: center;
    color: red;
    background-color: yellow;
}
nav p{
    text-align: center;
    background-color: yellow;
    border:2px solid yellow;
}
h3{
    text-align: center;
     
}
/* .img{
    align-self:center ;
} */
.rapper{
    display: flex;
    justify-content:space-around;
    
}
.rapper img{
    width: 300px;
    height: 300px;
}
.details{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

ul{
    flex-direction: column;
    display:flex;
}
.wrap{
    border:2px solid yellow;
    background-color: yellow;
    margin:2px 2px 2px;
    text-align: center;
}
.category :hover{
    color:red;
    border: 2px 2px 2px;
    font-display: right;
    text-align: 2px;
   
}
.rapper a:hover{
    color:red;
}
.wash{
font-size:24px;
}
h3{
 text-align: left;
 color:yellowgreen;
}
#foot {
    border: 3px solid;
    background-color: teal;
}
.products {
    text-align: center;
}
.ads{
    text-align: center;
}
.bar{
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    padding: 2%;
}
.bar :hover{
color: red;
}
.ufa{
    display: flex;
    align-items: center;
}
.Add{
    border: 2px solid yellow;
    background-color: yellow;
}
.beat{
    padding: 5%;
}
.comm{
 margin-top: 5px;
}
.phone{
   text-align: center; 
}
.aline{
    display: flex;
    margin: 200px;
}
.ph{
    text-align: center;  
}
.phs{
    display: flex;
}
.phf{
    flex-direction: column;
    text-align: center;
}
.ker{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.hen{
display: flex; 
}
.phs{
    margin-top: 200px;
}
.fa{
 padding:20px;
 font-size:50px;
 width:30px;
 text-decoration:none;
 margin:5px 2px;
 text-align:center;

}
.fa-facebook{
    color:white;
    background: #3b5998 ;
}
.fa-google{
    color:white;
    background:#D44638;
}
.fa-twitter{
    color:white;
    background: #00acee;
}
#foot{
    text-align:center;
}